VITE_API_BASE_URL=https://localhost:7225
VITE_TERMS_OF_SERVICE_URL=https://www.tabo-ani.com/terms-of-service
VITE_PRIVACY_POLICY_URL=https://www.tabo-ani.com/privacy-policy
VITE_TERMS_VERSION=2026-04-05
VITE_PRIVACY_VERSION=2026-04-05
VITE_ENABLE_AUTH_ACCESS_CHECK_ROUTE=false
